.slide-container {
  min-width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container{
  min-width: 80%;
  width: 85%;

}
.screen {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    167deg,
    rgba(255, 255, 255, 1) 64%,
    rgba(232, 241, 255, 1) 69%,
    rgba(223, 236, 255, 1) 72%,
    rgba(217, 232, 255, 1) 74%,
    rgba(141, 225, 255, 1) 100%
  );
}

.text-col {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 0;
}

.home-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.btn {
  background-color: rgb(4, 0, 255);
  font-size: 90%;
  border: 6% solid rgb(4, 0, 255);
  color: white;
  margin-right: 15px;
}

.btn:hover {
  background-color: rgb(4, 0, 211);
  color: white;
}

.img {
  width: 110%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.home-p {
  font-size: 100%;
}

.home-h {
  font-size: 80px;
  font-weight: 700;
  color: rgb(15, 15, 15);
}

#outline {
  background-color: white;
  border: 1px solid rgb(4, 0, 255);
  color: rgb(4, 0, 255);
  transition: background-color 3s color 0.2s;
}

#outline:hover {
  background-color: rgb(4, 0, 255);
  color: rgb(255, 255, 255);
}
