

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.tip-container {
  max-width: 800px;
  border-radius: 8px;
  margin: 40px auto 60px auto;
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(236, 236, 236, 0.6),
    0 6px 20px 0 rgba(236, 236, 236, 0.6);
  transition: box-shadow 0.3s;
  border: #c5c5c554 1.5px solid;
}

.tip-container:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 119, 255, 0.3),
    0 6px 10px 0 rgba(0, 119, 255, 0.3);
}
.tip-row {
  padding-top: 0;
  width: 100%;
}


.tip-h {
  font-size: 22px;
  font-weight: 600;
}

.tip-p {
  color: rgb(0, 0, 0);
  font-size: 12px;
}

.text-card {
  padding: 30px;
}

.tip-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 8px 8px 0px;
  height: 200px;
  background-color: rgb(0, 26, 255);
}

.ig {
  width: 125px;
  height: auto;
}

.card {
  margin: 0px;
  transition: transform 0.2s;
  box-shadow: 0 4px 8px 0 rgba(236, 236, 236, 0.6),
    0 6px 20px 0 rgba(236, 236, 236, 0.6);
}
.card:hover {
  transform: scale(1.02);
}
