.nav-container {
  height: 10vh;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 80%;
  width: 85%;
}

.nav-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  width: 70%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-col {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  color: rgba(121, 121, 121, 0.884);
  transition: transform 0.15s, color 0.1s;
}

.p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 13px;
  color: rgb(26, 26, 26);
  transition: transform 0.2s;
}

.text:hover {
  transform: scale(1.05);
  color: rgb(5, 5, 5);
}

.large {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  color: rgb(4, 0, 255);
  font-weight: 500;
}

.nav-container{
  padding:0;
}