.mail-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.mail-container {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  padding: 30px;
}

.mail-row {
  width: 100%;
  margin: 20px 0px 20px 0px;
}

.mail-h {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 8px;
}

.mail-p {
  color: rgb(0, 0, 0);
  font-size: 14px;
}

.mail-ul{
  padding-left: 20px;
}

.mail-ul li{
  margin-bottom: 8px;
  font-size: 15px;
}

.mail-card {
  border: 3px solid rgba(0, 140, 255, 0.6);
  background: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 15px;
  margin-right: 20px;
  max-width: 800px;
  margin-bottom: 20px;
}

.mail-card-h {
  font-size: 18px;
  font-weight: 650;
}

.mail-guide-back {
  background-color: rgba(159, 209, 255, 0.445);
  border: 1px solid rgba(0, 119, 255, 0.6);
  width: 900px;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 50px;
}

.mail-sub-header {
  font-size: 30px;
  padding-left: 40px;
  padding-top: 40px;
  font-weight: 600;
}
