.issues-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;

}

.issues-container {
  display: flex;
  flex-direction: column;
  width: 1100px;
  margin: 30px auto auto auto;
  padding: 15px;
}

.issues-row {
  display: flex;
  width: 100%;
}

.issues-h {
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 20px;
  
}

.issues-p {
  color: rgb(0, 0, 0);
  font-size: 15px;
}

.issues-text-box {
  border: rgba(255, 0, 0, 0.678) 3px solid;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(209, 209, 209, 0.6),
    0 6px 20px 0 rgba(209, 209, 209, 0.6);
  transition: box-shadow 0.3s;
  margin: 5px;
}

.issues-text-box:hover {
  box-shadow: 0 6px 10px 0 rgba(255, 108, 108, 0.349),
    0 6px 10px 0 rgba(255, 108, 108, 0.349);
}

.issues-sub-h {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 600;
}

.issues-p ol {
  padding-left: 20px;
}
.issues-li{
  margin-bottom: 7px;
}

::marker{
  font-weight: 500;
}