.esc-row {
  max-width: 700px;  
}

.card-container {
  display: flex;
}

.container-stack {
  display: flex;
  flex-direction: column;
}

.terms-card {
  background: orange;
  border-radius: 10px;
  padding: 20px;
  margin-right: 20px;
  max-width: 800px;
  margin-bottom: 60px;
}

.card-h{
  font-size: 20px;
  font-weight: 650;
}

.card-row{
  width: 800px;
  background-color: orangered;
}

